<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <br />
    <a href="/gossips/new/">créer un nouveau gossip</a>
  </body>
</html>

<% gossips.each_with_index do |gossip, index| %>
  <p>
    <a href="/gossips/<%= index %>"> <%= gossip.author %> : <%= gossip.content %> </a>
  </p>
<% end %>